* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.footer {
    line-height: 30px;
    width: 100%;
    position: fixed;
    background-color: orange;
    text-align: center;
    bottom: 0;
    opacity: 0.8;
}

h1 {
    background-color: orange;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: 70px;
}

h1:hover {
    transition: .4s;
    text-shadow: 2px 2px 2px 5px orangered;
    scale: 1.03;
}

::selection {
    color: red;
}

.valyuta {
    background-color: black;
    height: 100px;
    width: 250px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.valyuta>button {
    width: 400px;
    height: 150px;
    border-radius: 20px;
    background-color: orange;
    box-shadow: 0px 0px 0px 1px orangered;
}

.valyuta>button:hover {
    box-shadow: 2px 2px 2px 4px orangered;
    scale: 1.04;
    transition: .4s;
}

.one {
    margin: 100px;
    margin-top: 70px;
}

.two {
    margin: 100px;
    margin-top: 70px;
}

.three {
    margin: 100px;
    margin-top: 70px;
}

.four {
    margin: 100px;
    margin-top: 70px;
}

.tool {
    margin-bottom: 100px;
}

p {
    font-size: 20px;
}

.money {
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.dollar {
    background-image: url(dollar.jpg);
    height: 200px;
    width: 300px;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px;
    border-radius: 30px;
    border: 4px solid orange;
}

.dollar:hover {
    transition: .4s;
    scale: 1.03;
    box-shadow: 2px 2px 2px 5px orangered;
}

.euro {
    background-image: url(euro.jpg);
    height: 200px;
    width: 300px;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px;
    border-radius: 30px;
    border: 4px solid orange;
}

.euro:hover {
    transition: .4s;
    scale: 1.03;
    box-shadow: 2px 2px 2px 5px orangered;
}

.rubl {
    background-image: url(rubl.jpeg);
    height: 200px;
    width: 300px;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px;
    border-radius: 30px;
    border: 4px solid orange;
}

.rubl:hover {
    transition: .4s;
    scale: 1.03;
    box-shadow: 2px 2px 2px 5px orangered;
}

.lire {
    background-image: url(lire.jpg );
    height: 200px;
    width: 300px;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px;
    border-radius: 30px;
    border: 4px solid orange;
}

.lire:hover {
    transition: .4s;
    scale: 1.03;
    box-shadow: 2px 2px 2px 5px orangered;
}